.fondo{
	background: linear-gradient(0deg,
				rgba(30,30,30,0.5),
				rgba(30,30,30,0.7));
}

:root {
    --azul: #ee9ca7;
    --fondo: #fff;
}

*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;

}

body{

   background: var(--fondo);
   font-family: 'Open Sans', sans-serif;
}

.contenedor{

    width: 90%;
    margin: auto;

}

.header {

    padding: 10px;

}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo{
font-family: 'Bebas Neue', cursive;
font-weight: normal;
color: var(--azul);
font-size: 40px;
}

header nav a {
color: #000;
text-decoration: none;
margin-right: 20px;
font-size: 20px;

}

    header nav a:hover {

    color: #ee9ca7;

}

header nav a.activo{
    color: #ee9ca7;
}


/*Pag Principal*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    
}

.header{
    height: 70vh;
    /* 02 */
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .80) 100%), url(../images/restauranteback.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center bottom;
    color: #fff;
}

h2.datos{
    color: #000;
}


.titulo{
    font-size: 70px;
    margin-top: 100px;
    color: #dd3445;
}

.copy{
    font-weight: 300;
    font-size: 80px;
    margin-bottom: 200px;
    font-family: 'Bebas Neue', cursive;
}

/* Services */

.subtitulo{
    color: #dd3445;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-family: 'Bebas Neue', cursive;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: #FFF;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.service p{
    color: #000;
}

.n-service{
    margin-bottom: 7px;
    color:#dd3445;
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, rgb(221, 52, 60) 0%, rgb(255, 217, 179) 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.gallery{
    background: #FFF;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}



footer{
    background: #ee9ca7;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color: #ee9ca7;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}